*~
build\*
\.vscode\*
.vscode/*
.vscode/
.vscode\
.vscode\*
res\*
res/*
*.obj   
*.jpg
*.png
*.bmp
*.data
*.mtl
tests/barrel*
include/
tests/
build/
x64/
Debug/
.vs/
*.sln
*.vcxproj
*.vcxproj.filters
*.vcxproj.user